body {
    background-color: ( #F5EE84);
}


nav {
    background-color: antiquewhite;
    color: #ca6666;
    font-size: 1.2em;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    display: inline-block;
    margin-right: 1em;
}

nav a:hover {
    text-decoration: underline;

}
 